html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
    height: 100vh;
  display: flex;
  justify-content: center;
 
}


.info-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
}

.home a {
    display: flex;
    justify-content: center;
 
    
}
a {
    position: relative;
    text-decoration: none;
    font-size: 3rem;
    color: rgb(241, 42, 75);

}

a:hover {
    color: #ffffff;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

a:hover::before {
    transform: scaleX(1);
  }

  section {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
  }
 
  section h1 {
    display: flex;
    justify-content: center;
  }

h2 {
    color: rgb(241, 42, 75);
}


h1 {
    position: relative;
    text-decoration: none;
    font-size: 3rem;
    color: rgb(241, 42, 75);

}

h1:hover {
    color: #ffffff;
}

h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

h1:hover::before {
    transform: scaleX(1);
  }



 

  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 80px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(241, 42, 75);
    border-radius: 20px;
    border: 6px solid transparent;
  }


  .circle{
    position:absolute;
    display: flex;
    justify-content: center;
    width: 700px;
    height: 700px;
  opacity: 1;
  filter: url(#wavy) blur(1.5px);
  z-index: -1;
  }
  
  .circle::before{
    content: '';
    position: absolute;
    top:100px;
    left: 100px;
    right: 250px;
    bottom: 200px;
    border: 10px solid white;
    border-radius: 100%;
    box-shadow: 0 0 50px #0f0, inset 0 0 40px #0f0;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,rgba(202, 181, 181, 0.133));
  animation: animate  5s linear infinite ;
  
  }
  .circle::after{
    content: '';
    position: absolute;
    top:100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 10px solid rgb(241, 42, 75);
    border-radius: 100%;
    box-shadow: 0 0 50px rgb(255, 0, 43), inset 0 0 40px rgb(255, 0, 43);
  
  }
  .circle:nth-child(2)::before{
    animation-delay: -2,5s;
  }
  @keyframes animate{
    0%
  {
    box-shadow: 0 0 50px #fff inset 0 0 50px #0f0;
    filter:  hue-rotate(0deg);
   }
   20%
   {
     box-shadow: 0 0 60px #0f0 inset 0 0 60px #0f0;
   
    }
    40%
   {
     box-shadow: 0 0 40px #0f0 inset 0 0 40px #0f0;
   
    }
    60%
   {
     box-shadow: 0 0 80px #0f0 inset 0 0 80px #0f0;
   
    }
    80%
   {
     box-shadow: 0 0 100px #0f0 inset 0 0 100px #0f0;
   
    }
   100%
   {
     box-shadow: 0 0 50px #0f0 inset 0 0 50px #0f0;
     filter:  hue-rotate(360deg);
    }
  }
  
  svg{
    width: 0;
    height: 0;
  }


  @media (max-width:500px) {
    .circle {
      display: none;
    }
  }